@font-face {
  font-family: 'custom_font';
  src: local('custom_font'), url('./font/custom_font.ttf') format('truetype');
  font-weight: normal
}

body {
  margin: 0;
  font-family: 'custom_font', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
